/infraScanRoad/data/
/infraScanRoad/plot/
/backup-04-26/
/infraScanRail/plot/
/infraScanRail/data/
/infraScanRail-deprec
/infraScanRail/plots/
infraScanRail/__pycache__
infraScanRail/_unused_files
/infraScanRail/markdowns
.claude/settings.local.json

# Python Cache
__pycache__/
*.pyc

.codex/